<div id="user-show-header">
  <div class="row">
    <div class="col-sm-2">
      <h2><a href="/users/<%= session[:user_id] %>"><%= @tmp_alias %></a></h2>
    </div>
    <div class="col-sm-2 col-sm-offset-6">
      <h3><a href="/posts">browse</a></h3>
    </div>
    <div class="col-sm-2">
      <h3><a href="/signout">logout</a></h3>
    </div>
  </div>
</div>

<div ng-app='myApp'>
  <div data-ng-controller='TextAngularController'>
    <div class='row'>

      <div class='col-sm-2'></div>

      <div class='col-sm-8'>


  <div id="entry-new-form" class="row">
    <div class="col-sm-8 col-sm-offset-2">

    <form action="/posts/<%= @post.id %>/messages" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <p>Message To: <%= @post.name %></p>
      <text-angular name='post[content]' data-ng-model='diary_entry.post' ta-toolbar="[['bold','italics','underline', 'clear'],['colorGold', 'colorOrange', 'colorRed', 'colorBlue', 'colorLime', 'colorBlack', 'colorGray']]"></text-angular>
      <input type="submit" value="Submit"> 
    </form>
  </div>
</div>