<% content_for :command_one do %>
  <a href="/users/<%= current_user.id %>"><span class="glyphicon glyphicon-user"></span></a>
<% end %>
<% content_for :command_two do %>
  <a href="/posts"><span class="glyphicon glyphicon-globe"></span></a>
<% end %>
<% content_for :command_three do %>
  <a href="/signout"><span id="logout" class="glyphicon glyphicon-log-out"></span></a>
<% end %>


<div class='row'>
  <div id='timer' class='col-sm-6 col-sm-offset-4'>
    <div id="countdown1" class="countdownHolder"></div> 
    <div id='count_down_message'><h3>You are now in limbo</h3></div>
  </div>
</div>

<div class='row'>
  <div id='post' class='col-sm-6'>
    <div id='post_header'>
      <h3><i class='fa fa-circle <%= @post.color %>'></i></h3>
      <h3><%= @post.name %>, <small>from California</small></h3>
    </div>
    <p><%= @post.content.html_safe %></p>
  </div>
  <div class='col-sm-6'>
    <div id='chat_room'></div>
    <form id='<%= @post.id %>'>
      <input id='message' type='text' class='form-control' name='message'>
      <input type='submit' value='Submit' class='btn btn-default pull-right'>
    </form>
  </div>
</div>
<%= link_to "Write #{@post.name} a message", new_post_message_path(@post) %>

