<% content_for :command_one do %>
  <a class='leave_room_to_user' data-user-id='<%= current_user.id %>' href=""><span class="glyphicon glyphicon-user"></span></a>
  <!-- <a href="/users/<%= current_user.id %>"><span class="glyphicon glyphicon-user"></span></a> -->
<% end %>
<% content_for :command_two do %>
  <a class='leave_room_to_posts' href=""><span class="glyphicon glyphicon-globe"></span></a>
  <!-- <a href="/posts"><span class="glyphicon glyphicon-globe"></span></a> -->
<% end %>
<% content_for :command_three do %>
  <a class='leave_room_to_logout' href=""><span id="logout" class="glyphicon glyphicon-log-out"></span></a>
  <!-- <a href="/signout"><span id="logout" class="glyphicon glyphicon-log-out"></span></a> -->
<% end %>

<div id='post_test' class='row'>
  <div id='leave_chat' class='row'>
    <a class='leave_room_to_posts btn btn-default col-sm-3 pull-left' href=''><span style='color: silver' class='glyphicon glyphicon-chevron-left'></span> Leave Chat Room</a>
  </div>
  <div class='col-sm-6'>
    <div class='row'>
      <div id='post' class='limbo<%= @post.id %>'>
        <div id='post_header'>
          <h3><i class='fa fa-circle <%= @post.color %>'></i></h3>
          <h3><%= @post.name %>, <small>from California</small></h3>
        </div>
        <p class='post_content'><%= (word_wrap @post.content).html_safe %></p>
      </div>

      <div ng-app='myApp' ng-controller='TextAngularController'>
        <button class='btn btn-default' id='pm'>Private Message</button>
        <form id='message_box' style='display:none' action="/posts/<%= @post.id %>/messages" method="post">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <p>Message To: <%= @post.name %></p>
          <text-angular name='post[content]' data-ng-model='diary_entry.post' ta-toolbar="[['bold','italics','underline', 'clear'],['colorGold', 'colorOrange', 'colorRed', 'colorBlue', 'colorLime', 'colorBlack', 'colorGray']]"></text-angular>
          <input class='btn btn-default' type="submit" value="Send Message">
        </form>
      </div>
    </div>
  </div>

  <div class='col-sm-6'>
    <div class='limbo<%= @post.id %>' id='chat_room'></div>
    <form class='chat_form' id='<%= @post.id %>'>
      <input id='message' type='text' class='form-control' name='message'>
    </form>
    <div id='errors'></div>
  </div>
</div>
