<!DOCTYPE html>
<html>
<head>
  <title>kira</title>
  <%= javascript_include_tag 'https://kiramean.herokuapp.com/socket.io/socket.io.js' %>
  <%= stylesheet_link_tag    'application' %>
  <%= stylesheet_link_tag 'textAngular.min' %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js' %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-route.min.js' %>
  <%= javascript_include_tag 'https://cdn.jsdelivr.net/g/angular.textangular@1.2.2(textAngular-sanitize.min.js+textAngular.min.js)' %>
  <%= javascript_include_tag 'text_angular_diary.js' %>
  <%= javascript_include_tag 'ng-infinite-scroll.min.js' %>

  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= render partial: 'layouts/header' %>
  <%= yield %>
</div>

</body>
</html>
